@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

$white-color: #efecec;
$black-color: #363434;
$alert-color: #ff5964;
$danger-color: #ffe74c;
$succes-color: #04a777;
$light-color: #f5f5f5;

// DEFAULT COLORS
// $primary-color: #54759a;
// $secondary-color: #3fc1c9;

// GIRO COLORS
$primary-color: #ec5b8c;
$secondary-color: #ff91b6dc;

// TOUR COLORS
// $primary-color: #ff0;
// $secondary-color: rgb(219, 204, 70);

// VUELTA COLORS
// $primary-color: #da291c;
// $secondary-color: #d85a51;
