@import "./base.css";
@import "./table.scss";
@import "./input.scss";
@import "./mixins.scss";

.btn {
  padding: 0.55rem 1rem;
  display: inline-block;
  border-radius: 6px;
  margin: 0.5rem 1rem 0 0;
  font-weight: 900;

  &:hover {
    cursor: pointer;
  }

  &.action {
    background: var(--clr-secondary);
    color: var(--clr-text-black);
    transition: background 200ms ease-in;

    &:hover {
      background: transparent;
      color: var(--clr-text);
      outline: 2px solid var(--clr-secondary);
    }
  }
  &.danger {
    color: var(--clr-text-white);
    background: var(--clr-accent);
    transition: background 200ms ease-in;

    &:hover {
      background: transparent;
      color: var(--clr-text);
      outline: 2px solid var(--clr-accent);
    }
  }
  &.alert {
    color: var(--clr-text-black);
    background: var(--clr-alert);
    transition: background 200ms ease-in;

    &:hover {
      background: transparent;
      color: var(--clr-text);
      outline: 2px solid var(--clr-alert);
    }
  }
}

.errormessage {
  font-weight: 900;

  border-radius: 5px;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: 0.5rem 0.75rem;

  &.danger {
    border: 2px solid var(--clr-accent);
    color: var(--clr-text-black);
  }

  &.alert {
    border: 2px solid var(--clr-alert);
    color: var(--clr-text-black);
  }
}

.stage_list {
  padding: 0;
  &__item {
    display: grid;
    grid-template-columns: 3ch 7ch auto;
    padding: 0.75rem 0.5rem;

    &.active {
      background: var(--clr-primary);
      font-weight: 600;
      color: var(--clr-text-white);
      border-radius: 5px 0 0 5px;
    }

    &:hover {
      outline: 2px solid var(--clr-primary);
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

@media (max-width: 576px) {
  .stage_list {
    &__item {
      &.active,
      &:hover {
        border-radius: 5px;
      }
    }
  }
}

.result--item {
  background: #c5c7ca;
  &:nth-child(odd) {
    background: #8f99a6;
  }

  &:first-child {
    border-radius: 5px 5px 0 0;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
  }

  .info {
    display: grid;
    grid-template-columns: 2ch auto 8ch 4ch;
    grid-template-rows: auto auto;
    padding: 0.75rem;
    align-items: center;

    &__icon .unicon {
      cursor: pointer;
      display: flex;
    }
  }
}
