// Breakpoints
$breakpoint-mobile: 780px;
$breakpoint-tablet: 950px;
$breakpoint-laptop: 1450px;
$breakpoint-desktop: 1870px;

// Small devices
@mixin sm {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
