@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

$primary-color: #3b546f;
$secondary-color: #3fc1c9;
$white-color: #f5f5f5;
$black-color: #303030;
$alert-color: #ff5964;
$danger-color: #ffe74c;
