.rmTable {
  display: grid;
  max-width: 100%;
  margin: 1.5rem 0;

  &__header,
  &__row {
    display: grid;
    align-items: center;
    grid-template-columns:
      minmax(4ch, 50px) minmax(30px, 80px) minmax(10ch, 85ch)
      minmax(5px, 110px) minmax(20px, 110px) minmax(80px, 110px);
    border-bottom: 1px solid var(--clr-background);
    position: relative;

    &--number {
      margin-left: 1rem;
    }
    &--action {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      fill: var(--clr-text);
      min-height: 3rem;

      p {
        line-height: normal;
        margin: 0;
        font-size: 0.75rem;
        font-weight: 100;
      }
    }
  }

  &__header {
    color: var(--clr-text-white);
  }
  .done::before,
  .active::before,
  .closed::before {
    content: "";

    height: 100%;
    position: absolute;
    width: 0.4rem;
  }

  .done::before {
    background: var(--clr-accent);
  }

  .active::before {
    background: var(--clr-secondary);
  }
  .closed::before {
    background: var(--clr-accent-green);
  }

  &__header {
    background: var(--clr-primary);
    text-transform: uppercase;
    font-weight: 900;
    padding: 0.75rem 0;
  }

  &__row {
    padding: 0.5rem 0;

    &:nth-of-type(2n) {
      background-color: var(--clr-background-mute);
    }
    &:hover,
    &:focus {
      cursor: pointer;
      font-weight: 600;
      background-color: hsl(0, 0%, 100%, 20%);
    }

    &::before {
      content: "";

      height: 100%;
      position: absolute;
      width: 0.4rem;
      background: var(--clr-secondary);
    }
  }
}
